@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body {
    background: #1f242d;

}
a {
    color: #fff;
    text-decoration: none;
}
.navbar {
 position: relative;
    height: 100%;
    background:rgba(255,255,255,.1);
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 30px;
    backdrop-filter: blur(2px);
}
.navbar .logo {
    font-size: 40px;
    font-weight: 700;
    

}
.navbar ul {
    display: flex;
    font-size: 15px;
}
.navbar ul li {
    list-style: none;
    margin-left: 50px;
    top: -30px;
    left: 300px;
    font-size: 20px;
}
.navbar ul li a:hover {
font-size: 20px;
font-weight: 500;
transition: .1s;
}
.navbar ul li:hover a,
.navbar ul li.active a {
    color: rgb(136, 231, 248);
}
.home {
    display: flex;
    align-items: center ;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
}
.home-info h1 {
    font-size: 55px ;
}
.home-info h2 {
    font-size: 32px;
    margin-top:-10px ;

}
.home-info h2 span {
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: 1px slateblue;
    animation: display-text 16s linear infinite;
}



.home-info p {
    font-size: 16px;
    margin: 10px 0 25px;

}
.home-info .btn-sci {
    display: flex;
    align-items: center;
}
.btn {
    display: inline-block;
    padding: 10px 30px;
    background:slateblue;
    border: 2px solid slateblue;
    border-radius: 40px;
    box-shadow: 0 0 10px slateblue; 
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: .5s;
}
.btn:hover {
    background: transparent;
    color: slateblue;
    box-shadow: none;

}
.home-info .btn-sci .sci a {
    display: inline-flex;
    padding: 10px;
    border: 3px solid slateblue;
    border-radius: 50%;
    /* color: slateblue; */
    margin:4px;
    transition: .3s;

}
.home-info .btn-sci .sci  {
position: absolute;
left:300px;

}
.home-info .btn-sci .sci a:hover {
    background: slateblue;
    color:#1f242d
   box-shadow 0 0 10px slateblue;
}
img {
border: 10px solid slateblue;
border-radius: 80px;
height: 400px;
width: 400px;
}


.home-img .img-box {
    width: 35vw;
    height: 30vw;

}

h1 {

font-family: monospace;
}